@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 481px) {
  .ant-layout .ant-layout-sider {
    position: absolute;
    height: 100vh;
  }

  .project-overwrap ul li {
    margin-top: 16px !important;
  }

  .project-overwrap pre {
    overflow: scroll;
  }
}

.ant-layout-header {
  line-height: 24px;
}

.project-heading {
  font-size: 32px;
  font-weight: 500;
  margin: 12px 0px;
}

.project-overwrap p {
  padding: 12px;
}

.project-overwrap h3 {
  font-size: 16px;
  font-weight: 400;
}

.project-overwrap > * {
  margin-top: 16px;
}

.ant-layout-content {
  overflow: scroll;
}

.project-overwrap ul {
  border-left: 6px solid darkblue;
  padding: 16px;
}

.project-overwrap ul li {
  margin-top: 3px;
}

.project-overwrap pre {
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 24px;
}

/* --------------  */
